@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  /* --main-color: #0ef; */
  --main-color: rgb(0, 255, 34);
}

/* Header Section Design */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 5px 5px 50px var(--main-color);
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.logo {
  text-shadow: 0 0 25px white;
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  text-shadow: 0 0 15px var(--main-color);
}

.toggle .toggle-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
}

.toggle .toggle-icon:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.3) translateY(-5px);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
  transition: 0.4s ease-in-out;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.3) translateY(-5px);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* Button For Activate Dark & Light Mode */
/* #theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  transition: 0.5s ease;
  cursor: pointer;
}

#theme-toggle:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.3) translateY(-5px);
} */

/* About Section Design */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* Services Section Design */
.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* Skills Section Design */
.skills {
  background: var(--second-bg-color);
}

.skills h2 {
  margin-bottom: 4rem;
}

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-main h3 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.6rem;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--main-color);
  border-radius: 25px;
  box-shadow: 0 0 25px var(--main-color);
}

.skill-bar .bar .html {
  width: 95%;
  animation: html 5s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

.skill-bar .bar .css {
  width: 90%;
  animation: css 5s;
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.skill-bar .bar .javascript {
  width: 70%;
  animation: javascript 5s;
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.skill-bar .bar .php {
  width: 63%;
  animation: php 5s;
}

@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 63%;
  }
}

.skill-bar .bar .sql {
  width: 76%;
  animation: sql 5s;
}

@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 76%;
  }
}

.skill-bar .bar .react {
  width: 20%;
  animation: react 5s;
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

.skill-bar .bar .csharp {
  width: 32%;
  animation: csharp 5s;
}

@keyframes csharp {
  0% {
    width: 0%;
  }
  100% {
    width: 32%;
  }
}

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 10px 0;
  flex: 0 0 15rem;
  transition: 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.3);
}

.box .text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

small {
  font-size: 1.2rem;
}

big {
  font-size: 1.8rem;
  font-weight: 600;
}

.box .text big {
  letter-spacing: 1px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .text small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle .points {
  width: 2px;
  height: 10px;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}

@keyframes glow {
  0% {
    background: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
  }
}

.points.marked {
  animation: glow 0.4s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

/* Education Section Design */
.education {
  background: var(--bg-color);
}

.education h2 {
  margin-bottom: 4rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 700;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}

/* Portfolio Section Design */
.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  overflow: hidden;
  display: flex;
  border: 0.2rem solid var(--main-color);
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* Contact Section Design */
.contact {
  background: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0 1rem var(--main-color);
  border: 0.1rem solid var(--main-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* Footer Section Design */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
  box-shadow: 5px 5px 50px var(--main-color);
}

.footer span {
  text-shadow: 0 0 25px var(--main-color);
}

.footer b {
  text-shadow: 0 0 25px white;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* Responsive Design For Skills Section */
@media (max-width: 768px) {
  .skill-main {
    grid-template-columns: 1fr;
  }

  .professional {
    grid-template-columns: 1fr;
  }

  .box {
    margin: 20px 0;
  }
}

/* Responsive Design For Education Section */
@media (max-width: 768px) {
  .timeline-items::before {
    left: 20px;
  }

  .education h2 {
    font-size: 33px;
  }

  .timeline-item {
    padding-left: 50px !important;
    padding-right: 20px !important;
    text-align: left !important;
  }

  .timeline-dot {
    left: 10px !important;
  }

  .timeline-date {
    font-size: 18px;
    text-align: left;
  }

  .timeline-content {
    padding: 20px 30px;
  }

  .timeline-content p {
    font-weight: 450;
    font-size: 12px;
  }
}

/* Responsive Design For Header ~ Dark&Light Mode Button ~ About ~ Services ~ Portfolio ~ Contact ~ Footer Section's */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  #theme-toggle {
    right: 15%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .skills {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}

/* Light Mode Styles */
/* :root {
  --bg-color: #f5f5f5;
  --second-bg-color: #e0e0e0;
  --text-color: #333;
  --main-color: #007bff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  background: var(--second-bg-color);
  box-shadow: 5px 5px 50px var(--main-color);
}

.logo {
  color: var(--text-color);
  text-shadow: 0 0 25px black;
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  color: var(--text-color);
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  text-shadow: 0 0 15px var(--main-color);
}

.home-img img {
  box-shadow: 0 0 25px var(--main-color);
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.social-media a {
  background: transparent;
  border: 0.2rem solid var(--main-color);
  color: var(--main-color);
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn:hover {
  box-shadow: none;
}

.about {
  background: var(--second-bg-color);
}

.services-container .services-box {
  background: var(--second-bg-color);
  border: 0.2rem solid var(--bg-color);
}

.services-box:hover {
  border-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.skills {
  background: var(--second-bg-color);
}

.skill-bar .info {
  color: #000000;
}

.skill-bar .bar {
  background-color: var(--bg-color);
}

.skills big {
  color: #000000;
}

.skills small {
  color: #000000;
}

.skill-bar .bar span {
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.education {
  background: var(--bg-color);
}

.timeline-content h3 {
  color: #000000;
}

.timeline-date {
  color: #000000;
}

.timeline-content p {
  color: #000000;
}

.timeline-content span {
  color: #fff;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot,
.portfolio-box {
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.timeline-content,
.portfolio-layer {
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  box-shadow: 0 0 10px var(--main-color);
}

.timeline-content:hover,
.portfolio-layer {
  box-shadow: 0 0 25px var(--main-color);
}

.portfolio-layer p {
  color: #fff;
}

.portfolio-layer h4 {
  color: #fff;
}

.contact {
  background: var(--bg-color);
}

.contact form .input-box input,
.contact form textarea {
  background: var(--second-bg-color);
  color: var(--text-color);
  border: 0.1rem solid var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.footer {
  background: var(--second-bg-color);
  box-shadow: 5px 5px 50px var(--main-color);
}

.footer span {
  text-shadow: 0 0 25px var(--main-color);
}

.footer b {
  text-shadow: 0 0 25px black;
}

.footer-iconTop a {
  background: var(--main-color);
}

.footer-iconTop a:hover {
  box-shadow: 0 0 3rem var(--main-color);
} */
