* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  /* --main-color: #0ef; */
  --main-color: rgb(0, 255, 34);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  direction: ltr;
  text-align: center;
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 5px 5px 50px var(--main-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.logo {
  text-shadow: 0 0 25px white;
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

span {
  color: var(--main-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.categories {
  margin: 20px 0;
}

.category {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.category:hover {
  box-shadow: none;
}

.video-player {
  margin: 20px 0;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  margin: 10px;
  cursor: pointer;
}

.video-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
