:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  /* --main-color: #0ef; */
  --main-color: rgb(0, 255, 34);
}

body {
  direction: ltr;
  text-align: center;
  background: var(--bg-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.categories {
  margin: 20px 0;
}

.category {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.category:hover {
  box-shadow: none;
}

.video-player {
  margin: 20px 0;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  margin: 10px;
  cursor: pointer;
}

.video-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
